
.button,
.actionButton,
.deleteButton,
.buttonRed,
.buttonSecondary {
  color: white;
  border: none;
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.button {
  background-color: var(--primary-color);
}

.button:hover {
  opacity: 0.85;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.actionButton {
  background-color: var(--primary-color);
  padding: 0.4rem 0.7rem; /* Smaller padding */
  font-size: 0.75rem; /* Smaller font size */
}

.actionButton:hover {
  opacity: 0.85;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.deleteButton {
  background-color: var(--danger-color);
  padding: 0.4rem 0.7rem; /* Smaller padding to match actionButton */
  font-size: 0.75rem; /* Smaller font size to match actionButton */
}

.deleteButton:hover {
  opacity: 0.85;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.buttonRed {
  background-color: var(--danger-color);
}

.buttonRed:hover {
  opacity: 0.85;
}

.buttonSecondary {
  background-color: var(--secondary-color);
}

.buttonSecondary:hover {
  opacity: 0.85;
}

.button:disabled {
  background-color: var(--secondary-color);
  opacity: 0.6;
  cursor: not-allowed;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
}

.modalContent h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.modalContent p {
  color: #333;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}
